@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.card {
  &__items {
    display: grid;
    gap: 30px clamp(16px, 2.2vw, 30px);

    &--two {
      grid-template-columns: repeat(2, 1fr);
    }

    &--three {
      grid-template-columns: repeat(3, 1fr);
    }

    &--btn {
      .card__content {
        margin-bottom: 30px;
      }
    }
  }

  &__item {
    padding-bottom: 24px;
  }

  &__image {
    border-top-left-radius: var(--radius-main);
    border-top-right-radius: var(--radius-main);
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    img {
      width: 100%;
    }
  }

  &__content,
  &_btns {
    padding-inline: clamp(10px, 1.4vw, 20px);
  }

  &__content {
    h3 {
      margin-bottom: 20px;
    }
  }

  &__btns {
    @include flex-all-center;
    flex-direction: column;
    gap: 30px 0;
  }

  &__reviews,
  &__review {
    display: flex;
  }

  &__reviews {
    justify-content: space-between;
    gap: clamp(40px, 8vw, 60px) 20px;
    max-width: 1053px;
    width: 100%;
    margin-inline: auto;
  }

  &__review {
    gap: clamp(16px, 2.2vw, 30px);
    max-width: 470px;
    width: 100%;

    .card__content {
      padding: 0;
      margin-bottom: 0;

      *:not(:last-child) {
        margin-bottom: 30px;
      }

      p {
        line-height: 1.11;
      }
    }
  }

  &__author {
    font-size: clamp(16px, 1.4vw, 18px);
    text-transform: uppercase;
  }

  &__avatar {
    max-width: 70px;
    width: 100%;
  }

  &__infos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: clamp(10px, 4.2vw,60px);
  }

  &__info {
    h3 {
      margin-bottom: 16px;
    }

    p {
      font-size: clamp(16px, 1.4vw, 18px);
      line-height: 1.5;
    }
  }

  &__icon {
    position: relative;
    padding-top: 65px;

    &::before {
      @include cover-background;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 38px;
      height: 38px;
    }

    &--eco::before {
      background-image: url("../images/icons/eco-icon.svg");
    }

    &--wildlife::before {
      background-image: url("../images/icons/wildlife-icon.svg");
    }

    &--community::before {
      background-image: url("../images/icons/community-icon.svg");
    }
  }

  &--explore {
    padding-top: clamp(40px, 11vw, 146px);
  }

  &--team {
    .card__image {
      border-radius: var(--radius-main);
    }
  }

  @include media(mobile-l) {
    &__items {
      grid-template-columns: repeat(2, 1fr);

      &--three {
        .card__item {
          &:last-of-type {
            grid-column: span 2;

            img {
              aspect-ratio: 4 / 2;
              object-position: bottom;
            }
          }
        }
      }
    }

    &__image {
      border-radius: var(--radius-m);
    }

    .btn {
      width: 100%;
    }

    &--btn {
      .card__items {
        margin-bottom: clamp(40px, 8vw, 60px);
      }
    }

    &__reviews {
      flex-direction: column;
    }

    &__review {
      max-width: 100%;
    }

    &--team {
      .card__image {
        border-radius: var(--radius-m);
      }
    }
  }

  @include media(mobile-m) {
    &__items {
      grid-template-columns: 1fr;

      &--three {
        grid-template-columns: 1fr;

        .card__item {
          &:last-of-type {
            grid-column: auto;
          }
        }
      }
    }

    &__item {
      padding-bottom: 0;
    }

    &__image {
      &:not(&--long) {
        img {
          aspect-ratio: 4/2;
        }
      }

      &--bottom {
        img {
          object-position: bottom;
        }
      }
    }

    &__review {
      flex-direction: column;
    }

    &__infos {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
    }

    &__icon {
      padding-top: 0;
      padding-left: 40px;

      &::before {
        top: 4px;
        width: 30px;
        height: 30px;
      }
    }
  }
}
